<div class="dialog">
    <div style="display: flex; justify-content: space-between;">
      <button mat-button mat-dialog-close style="margin-bottom: 41px; "><mat-icon>keyboard_arrow_left</mat-icon></button>
      <h1 mat-dialog-title style="margin-bottom: 46px;margin-right: auto;">Add coinbase</h1>
      <button mat-button mat-dialog-close style="margin-bottom: 41px;"><mat-icon>close</mat-icon></button>
    </div>
  
    <mat-dialog-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis hic rerum porro illo perspiciatis! Ad
        reprehenderit, odio necessitatibus deserunt sint nulla impedit vitae quos illum beatae debitis, sit accusamus hic?
      </p>
      <mat-tab-group>
        <mat-tab label="Automatic Sync">
  
          <button mat-button style="background-color: rgb(55, 55, 226);color: aliceblue;width: 100%; margin-top: 2rem;"> continue with
            coinbase</button>
          <h2 style="margin-top: 2rem;"> Lorem ipsum dolor sit, amet consectetur adipisicing eli</h2>
          <ol type="1">
  
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis eos est omnis delectus, </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate minima praesentium est ipsum
              consequatur.
            </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur explicabo porro quo placeat, sit
              voluptatibus a esse sint amet unde ad quae blanditiis alias,!</li>
          </ol>
        </mat-tab>
        <mat-tab label="Cointracker CSV">
  
          <button mat-button style="background-color: rgb(55, 55, 226);color: aliceblue;width: 100%; margin-top: 2rem;"> continue with
            coinbase</button>
          <h2 style="margin-top: 2rem;"> Lorem ipsum dolor sit, amet consectetur adipisicing eli</h2>
          <ol type="1">
  
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis eos est omnis delectus, </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate minima praesentium est ipsum
              consequatur.
            </li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur explicabo porro quo placeat, sit
              voluptatibus a esse sint amet unde ad quae blanditiis alias,!</li>
          </ol>
        </mat-tab>
        
      </mat-tab-group>
    </mat-dialog-content>
  
  </div>
